@charset 'utf-8';

/* common */

body{
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

h1{
  margin: 0;
  font-weight: normal;
  font-size: 32px;
}

h2{
  margin: 0;
  font-weight: normal;
  font-size: 28px;
}

h3{
  margin: 8px 0 0;
  font-weight: bold;
}

h4{
  margin: 0;
  font-weight: normal;
}

p{
  margin: 8px 0 0;
}

img{
  vertical-align: bottom;
}

ul{
  margin: 16px 0 0;
  padding-inline-start: 24px;
}

/* header */

header{
  margin: 0 auto;
  max-width: 1120px;
  text-align: center;
  padding: 64px 0;
  background-image: url(img/border.png);
  background-repeat: repeat-x;
  background-position: top;
  background-size: 800px;
}

/* main */

main{
  padding: 32px 16px 80px;
  margin: 0 auto;
  max-width: 1120px;
  background-image: url(img/border.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 800px;
}

main h2{
  text-align: center;
}

.inner{
  margin-top: 48px;
}

.inner-6{
  text-align: center;
}

.inner-6 img{
  width: 100%;
  height: auto;
}

/* article */

section h2{
  color: #01a7d9;
  border-bottom: 3px solid #ccc;
}

section{
  margin: 0 auto;
  max-width: 1120px;
  padding: 32px 16px 64px;
  box-sizing: border-box;
  background-image: url(img/border.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 800px;
}

.container{
  margin-top: 16px;
}

.wrapper img{
  margin-top: 8px;
  width: 100px;
  height: 100px;
}

.wrapper-img img{
  width: 100%;
  height: auto;
}




@media (min-width: 600px){

  /* main */

  .outer{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }

  .inner{
    width: calc((100% - 48px) / 2);
  }
  
/* article */

.container{
  display: flex;
  flex-direction: row-reverse;
  gap: 32px;
}

.wrapper{
  flex: 5;
}

.wrapper img{
  margin-top: 16px;
  width: 120px;
  height: 120px;
}

.wrapper-img{
  flex: 3;
}

.wrapper-img img{
  width: 100%;
  height: 360px;
  object-fit: cover;
}

}



