@charset 'utf-8';

/* common */

body{
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

h1{
  margin: 0;
  font-weight: normal;
  font-size: 32px;
}

h2{
  margin: 0;
  font-weight: normal;
  font-size: 28px;
}

h3{
  margin: 8px 0 0;
  font-weight: bold;
}

h4{
  margin: 0;
  font-weight: normal;
}

p{
  margin: 8px 0 0;
}

img{
  vertical-align: bottom;
}

ul{
  margin: 16px 0 0;
  padding-inline-start: 24px;
}

li{
  margin-top: 2px;
}

/* header */

header{
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  padding: 64px 0;
  box-sizing: border-box;
  background-image: url(img/border.png);
  background-repeat: repeat-x;
  background-position: top;
  background-size: 800px;
}

/* main */

main{
  padding: 0px 16px 80px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;
  background-image: url(img/border.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 800px;
}

main h2{
  text-align: center;
}

.inner{
  margin-top: 48px;
}

.inner-6{
  text-align: center;
}

.inner-6 img{
  margin-top: 16px;
  width: 100%;
  height: auto;
}

/* article */

section h2{
  color: #01a7d9;
  border-bottom: 3px solid #ccc;
}

section{
  margin: 0 auto;
  max-width: 1280px;
  padding: 32px 16px 64px;
  box-sizing: border-box;
  background-image: url(img/border.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 800px;
}

.container{
  margin-top: 16px;
}

.wrapper img{
  margin-top: 8px;
  width: 100px;
  height: 100px;
}

.wrapper-img img{
  width: 100%;
  height: auto;
}

.article-1 img{
  width: 100%;
  height: auto;
}




@media (min-width: 600px){

/* main */

.outer{
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.inner{
  width: calc((100% - 48px) / 2);
}
  
/* article */

.container{
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.wrapper{
  flex: 3;
}

.wrapper img{
  width: 110px;
  height: 110px;
}

.wrapper-img{
  flex: 2;
}

.wrapper-img img{
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.article-1 h2{
  font-size: 32px;
}

.article-1 p{
  padding: 0 16px;
  font-size: 18px;
  line-height: 2;
}

.article-1 img{
  width: 40%;
  height: 280px;
  object-fit: cover;
}

}



